/******************************************************************
Site Name:
Author:

Stylesheet: Typography

******************************************************************/


/*********************
FONT FACE (IN YOUR FACE)
*********************/

/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/

@font-face {
  font-family: 'Supreme';
  src: url('../fonts/Supreme-Variable.woff2') format('woff2'),
    url('../fonts/Supreme-Variable.woff') format('woff'),
    url('../fonts/Supreme-Variable.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
  font-style: normal;
}


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 800.0;
*
* available axes:

* 'wght' (range from 100.0 to 800.0)

*/

@font-face {
  font-family: 'Supreme-VariableItalic';
  src: url('../fonts/Supreme-VariableItalic.woff2') format('woff2'),
    url('../fonts/Supreme-VariableItalic.woff') format('woff'),
    url('../fonts/Supreme-VariableItalic.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
  font-style: italic;
}


// font stacks
$sans: "Supreme", "Helvetica Neue", Helvetica, Arial, sans-serif;
$italic: "Supreme-VariableItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;



/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}

