/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/



.wrap {
  max-width: 1030px;
}

/*********************
NAVIGATION STYLES
*********************/


.nav {

	li {
	
		&>a {
			font-size: 15px;
		}

	}
}
/*********************
GRID
*********************/

// GALLERIES

ul.image-gallery {
	--numcolumns: 4;
	--gap: 10px;
}